<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--Logs - archivo donde se encuentra la configuracion-->
    <add key="Config.Log4Net" value="Log4net.Config.xml" />

    <!-- Ubicacion del archivo de Log-->
    <add key="log4net.Config" value="log4net.Config" />
    <add key="log4net.Config.Watch" value="True" />
    <!-- Switch para el Log to File-->
    <add key="INFO" value="true" />
    <add key="WARN" value="true" />
    <add key="ERROR" value="true" />
    <add key="FATAL" value="true" />
    <add key="DEBUG" value="true" />

    <!--Proxy - se utiliza SI o NO-->
    <add key="CPA_Proxy_Habilitado" value="true" />

    <add key="CPA_Proxy_Credenciales" value="false" />

    <!--Proxy - Configuracion - URL-->
    <add key="CPA_Proxy_URL" value="http://proxysgha.anses.gov.ar:80" />
    <!--Proxy - Configuracion - Dominio-->
    <add key="CPA_Proxy_Dominio" value="ANSES" />
    <!--Proxy - Configuracion - Usuario-->
    <add key="CPA_Proxy_Usuario" value="USER_DAPC" />
    <!--Proxy - Configuracion - Password-->
    <add key="CPA_Proxy_Passwd" value="tito1234" />
    <add key="CERTI_IGNORA_ERROR" value="true" />
    <!--Certificado X.509 - se utiliza SI o NO-->
    <add key="CERTI_APLICA" value="true" />
    <!--Certificado X.509 - valor concatenado del a huella digital del certificado instalado-->
    <add key="CERTI_DIGITAL_MARK" value="c2810107087b25676fbc7885bbeeb63e0fae9085"/>

    <!--Web Service - Configuracion - Usuario-->
    <add key="WS_Usuario" value="SAP-850" />
    <!--Web Service - Configuracion - Password-->
    <!--se obtiene del servicio gestion claves-->
    <add key="WS_Passwd" value="AnsesEsidif2019" />

    <!--Desarrollo-->
    <add key="WS_Action" value="https://ws-si.mecon.gov.ar/ws/gastos/informeDeGastos/generarInformeDeGastosService" />
    <add key="WS_Endpoint" value="https://tws5-si.mecon.gov.ar/SD_Core/ws" />

    <!-- Gestion Claves Configuracion -->
    <!-- Endpoint -->
    <add key="GClaves_Endpoint" value="http://ansesnegodesapp/ESIDIFGestionClaves/GestionService.asmx"/>
    <!-- Usuario -->
    <add key="GCLaves_USU" value="SAP-850"/>
    <!-- Pass -->
    <add key="GCLaves_PSW" value="c2810107087b25676fbc7885bbeeb63e0fae9085"/>
    <!-- ESIDIF Key Pass para los Servicios -->
    <add key="GClaves_EsidifPass" value="EsidifKey"/>

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />

    <webServices>
      <soapExtensionTypes>
        <add type="ESIDIFC75.Extensions.SoapLoggerExtension, ESIDIFC75" group="High" priority="1" />
      </soapExtensionTypes>
    </webServices>

  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="httpsBinding" allowCookies="true" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="GestionServiceSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="httpsBinding">
          <textMessageEncoding messageVersion="Soap11WSAddressing10" />
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="debugInspectorBehavior" >
          <debugInspector />
        </behavior>
        <behavior name="debugGestionClavesInspectorBehavior">
          <debugGestionClavesInspector/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="https://tws5-si.mecon.gov.ar/SD_Core/ws" behaviorConfiguration="debugInspectorBehavior"
        binding="customBinding" bindingConfiguration="httpsBinding"
        contract="service.generarInformeDeGastosPortType" name="generarInformeDeGastosC75Soap11" />
      <endpoint address="http://ansesnegodesapp/ESIDIFGestionClaves/GestionService.asmx"
        binding="basicHttpBinding" bindingConfiguration="GestionServiceSoap" behaviorConfiguration="debugGestionClavesInspectorBehavior"
        contract="GestionService.GestionServiceSoap" name="GestionServiceSoap" />
    </client>
    <extensions>
      <behaviorExtensions>
        <add name="debugInspector" type="ESIDIFC75.Extensions.SoapBehavior, ESIDIFC75"/>
        <add name="debugGestionClavesInspector" type="ESIDIFC75.Extensions.SoapGestionClavesBehavior, ESIDIFC75"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>  
</configuration>
