<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ESIDIFCommon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ESIDIFCommon.Properties.Settings>
            <setting name="ESIDIFCommon_enviarmailService_EnviarMail" serializeAs="String">
                <value>http://labprueba3:8080/checkmail/enviarmail.asmx</value>
            </setting>
        </ESIDIFCommon.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GestionServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ansesnegodesapp/ESIDIFGestionClaves/GestionService.asmx"
                binding="basicHttpBinding" bindingConfiguration="GestionServiceSoap"
                contract="GestionService.GestionServiceSoap" name="GestionServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>